# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/vscode-extension/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@types/vscode"
      - dependency-name: "@types/node"
        versions: [">=19"]
    groups:
      dev-dependencies:
        dependency-type: "development"

  - package-ecosystem: "nuget"
    directory: "/backend/src/ILSpy.Backend/"
    schedule:
      interval: "weekly"
