# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/vscode-extension/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    ignore:
      - dependency-name: "@types/vscode"
      - dependency-name: "@types/node"
        versions: [ ">22" ]
    groups:
      prod-dependencies:
        dependency-type: "production"
        update-types:
          - "major"
          - "minor"
      prod-patch-dependencies:
        dependency-type: "production"
        update-types:
          - "patch"
      dev-dependencies:
        dependency-type: "development"

  - package-ecosystem: "dotnet-sdk"
    directories:
      - "/backend/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    groups:
      major-minor-dependencies:
        update-types:
          - "major"
          - "minor"
      patch-dependencies:
        update-types:
          - "patch"
