name: CI

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d #v5.0.0
        with:
          dotnet-version: 8.0.x

      - name: Check .NET Core version
        run: dotnet --version

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: "22"

      - name: Bootstrap Build Tools
        run: buildtools/bootstrap

      - name: Publish Backend
        run: buildtools/publish-backend

      - name: Test Backend
        run: buildtools/test-backend

      - name: Build Extension
        run: buildtools/build-vsix

      - name: Archive artifacts
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: Artifacts
          path: artifacts/*

      - name: Create draft release
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" --draft --title "${GITHUB_REF#refs/tags/v}" artifacts/*.vsix
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
